.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;

}

.App{
  display:flex;
  flex-flow: row wrap;
  /* width:85%; */

}

.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }


  .number-buttons{
      background-color:#113C78;
      width:85px;
      height:85px;
      border-radius: 50%;
      font-size:35px;
      color:white;
      box-shadow: black 0 4px 0 0 ;
      border:none;
      margin:10px;

  }

  .specials-buttons{
    background-color:#2061B0;
    width:85px;
    height:85px;
    border-radius: 50%;
    font-size:35px;
    color:white;
    box-shadow: black 0 4px 0 0 ;
    border:none;
    margin:10px;
  }

  .operator-buttons{
    background-color:#3DB5E5;
    width:85px;
    height:85px;
    border-radius: 50%;
    font-size:35px;
    color:white;
    box-shadow: black 0 4px 0 0 ;
    border:none;
    margin:10px;
  }
